<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>{{catalog?.catalogName}}</h2>
  
          <form >

          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.product?.title}} </td>
            </ng-container>
          
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.product?.description}} </td>
            </ng-container>

            <!-- Order -->
            <ng-container matColumnDef="order">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount to order </th>
              <td mat-cell *matCellDef="let element; let i=index">
                <mat-form-field>
                  <input matInput placeholder="Amount" name="order_amount_{{i}}" [(ngModel)]="quantitiesToOrder[i]">
                </mat-form-field>
              </td>
            </ng-container>
          
            <!-- Current Stock Column -->
            <ng-container matColumnDef="currentStock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock </th>
              <td mat-cell *matCellDef="let element"> {{element.product?.currentStock}} </td>
            </ng-container>
          
            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="10"
            showFirstLastButtons 
            aria-label="Select page of products">
          </mat-paginator>

          <button mat-raised-button color="primary" [disabled]="!hasOrderValues()" (click)="addToCart()">Add to cart</button>
          
        </form>

        </mat-card-content>
      </mat-card>
  
    </div>
  </div>